<html>
  <form action="/upload_on_gcd" method="POST">
    <input type="text" id="access-token" placeholder="Access token" />
    <input type="file" id="file-upload" />
    <button type="submit">Submit</button>
  </form>
</html>
