<html>
  <style>
    #hide input[type='file'] {
      display: none;
      margin: 10px;
    }
    #hide input[type='file'] + label {
      display: inline-block;
      margin: 20px;
      padding: 4px 32px;
      background-color: #ffffff;
      border: solid 1px #666f77;
      border-radius: 6px;
      color: #666f77;
    }
    #hide input[type='file']:active + label {
      background-image: none;
      background-color: #2d6c7a;
      color: #ffffff;
    }
  </style>
  <form action="/upload_on_gcd" method="POST">
    <input type="text" id="access-token" placeholder="Access token" />
    <div id="hide" class="col-lg-8 col-xs-8">
      <label class="hand-cursor">
        <input type="file" nv-file-select uploader="$ctrl.uploader" />
        <span class="fa fa-camera"></span>
        <span class="photo_text hidden-xs">Photo</span>
      </label>
    </div>

    <button type="submit">Submit</button>
  </form>
</html>
