<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.3&appId=2101839143230469&autoLogAppEvents=1"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div id="fb-root"></div>
    <div
      class="fb-share-button"
      data-href="https://www.facebook.com/AAA.AcademyGwalior/photos/a.441436749528516/883705721968281/?type=3&amp;__xts__%5B0%5D=68.ARBFnHbgWUqip8VeHyWZWgfNR2WCprExpWXOqRqHXOB1kFoEhoPyIQcRADq-toCQixrReqCy1OlzG4hWXv0g9MgRRKxS7Y33NLbXuMAtSwARDzF_4wslnTOQe_X1rgI3QPIA3RUmf9rbbwuCRTzmOJHjdu_2wlo4_IIbjZM47QOP_hRpEWyGtPn3MA_nlJ-HeDQsvhHx9aOyWHgpKK_37fcHvXoCUfwQ2mahEaZLCwVXae9GkuzWU1KZo1lMpiOnK-oHKSyl4D05PKp9O4tn3R9o5FpejnG41Gfutz_iBeSP5Iothf9-Uzaq3OKANpGlrPTLB5NbmwsNzykk6H1D2yZLPHzl2Aew5mq7Rpr2xuqBXSANegbJSA&amp;__tn__=-R"
      data-layout="button_count"
      data-size="small"
    >
      <a
        target="_blank"
        href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2FAAA.AcademyGwalior%2Fphotos%2Fa.441436749528516%2F883705721968281%2F%3Ftype%3D3%26__xts__%255B0%255D%3D68.ARBFnHbgWUqip8VeHyWZWgfNR2WCprExpWXOqRqHXOB1kFoEhoPyIQcRADq-toCQixrReqCy1OlzG4hWXv0g9MgRRKxS7Y33NLbXuMAtSwARDzF_4wslnTOQe_X1rgI3QPIA3RUmf9rbbwuCRTzmOJHjdu_2wlo4_IIbjZM47QOP_hRpEWyGtPn3MA_nlJ-HeDQsvhHx9aOyWHgpKK_37fcHvXoCUfwQ2mahEaZLCwVXae9GkuzWU1KZo1lMpiOnK-oHKSyl4D05PKp9O4tn3R9o5FpejnG41Gfutz_iBeSP5Iothf9-Uzaq3OKANpGlrPTLB5NbmwsNzykk6H1D2yZLPHzl2Aew5mq7Rpr2xuqBXSANegbJSA%26__tn__%3D-R&amp;src=sdkpreparse"
        class="fb-xfbml-parse-ignore"
        >Share</a
      >
    </div>
  </body>
</html>
